* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat-bot-title {

}

#chat-bot-logo {

}

#chat-bot-content {

}

#chat-bot-footer {

}

#send-arquive {

}

#send-message {

}

#user-message {

}